sounddevice
google-genai
google-generativeai
openai
composio-openai
composio-gemini
pillow
requests
beautifulsoup4
duckduckgo-search
playwright          
pyautogui
pyperclip
pygetwindow       
opencv-contrib-python==4.13.0.92
mediapipe
numpy
mss
Pillow
psutil
comtypes
pycaw               
win10toast          
send2trash
youtube-transcript-api
pywinauto
python-pptx
PyQt6==6.9.1
PyOpenGL
cryptography
pypiwin32
speedtest-cli
